APScheduler==3.11.3
asgiref==3.11.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
brotli==1.2.0
cbor2==5.9.0
certifi==2026.7.22
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.6
constantly==23.10.4
crispy-bootstrap5==2026.3
cryptography==46.0.6
cssselect2==0.9.0
daphne==4.2.1
decorator==5.2.1
diff-match-patch==20241021
Django==6.0.3
django-cleanup==9.0.0
django-crispy-forms==2.6
django-filter==25.2
django-import-export==4.4.0
django-jazzmin==3.0.4
django-model-utils==5.0.0
et_xmlfile==2.0.0
fonttools==4.62.1
hyperlink==21.0.0
idna==3.11
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
Incremental==24.11.0
moviepy==2.2.1
msgpack==1.1.2
numpy==2.4.3
opencv-python==4.13.0.92
openpyxl==3.1.5
packaging==26.0
pillow==11.3.0
proglog==0.1.12
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydyf==0.12.1
pyOpenSSL==26.0.0
pyphen==0.17.2
python-dotenv==1.2.2
redis==7.4.0
reportlab==4.4.10
requests==2.34.2
service-identity==24.2.0
sqlparse==0.5.5
tablib==3.9.0
tinycss2==1.5.1
tinyhtml5==2.1.0
tinytag==2.2.1
tqdm==4.67.3
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
tzlocal==5.4.4
ua-parser==1.0.2
ua-parser-builtins==202606
ujson==5.12.0
urllib3==2.7.0
user-agents==2.2.0
weasyprint==68.1
webencodings==0.5.1
whitenoise==6.12.0
zope.interface==8.2
zopfli==0.4.1
