{% load static %}

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.ico' %}" />




<!-- Icons -->
<link rel="stylesheet" href="{% static 'assets/vendor/fonts/iconify-icons.css' %}" />

<!-- Core CSS -->
<link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />

<!-- Vendors CSS -->
<link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />

<!-- Apex Charts -->
<link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}" />

<!-- Helpers -->
<script src="{% static 'assets/vendor/js/helpers.js' %}"></script>

<!-- Config (must be after helpers.js) -->
<script src="{% static 'assets/js/config.js' %}"></script>

<!-- Video (must be after helpers.js) -->

<!-- Dependencies -->
 <script src="{% static 'jquery/jquery-3.7.1.slim.min.js' %}"></script>
 <script src="{% static 'jquery/jquery.min.js' %}"></script>
 <script src="{% static 'jquery/js.cookie.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
 

